body {
    background-color:#e5d4c7;
}

.navbar {
    background-color: black;
}

.navlogo {
    width: 150px;
}

.logo {
    width: 500px;
}

.admintext {
    font-size: 1.5rem;
    font-weight: 800;
}

.lbutton {
    padding-bottom: 10px;
}